body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.posts-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.card {
    padding: 15px;
    border-radius: 6px;
    background-color: #1d1c1c;
    color: #fff;
}

.user {
    display: flex;
    align-items: center;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #8b8585;
}

.card-button {
    color: red;
    cursor: pointer;
}



